.error {
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 2px;
  margin-top: 2px;
  background: #f2dede;
  border-color: #ebccd1;
  color: #b94a48;
  background-size: 20px 20px;
  width: 100%;
  font-weight: 500 !important;
  display: none;
}
.message-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.message-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}