FLICKR_API_KEY: ""
FLICKR_SHARED_SECRET: ""
FLICKR_ACCESS_TOKEN: ""
FLICKR_ACCESS_SECRET: ""
EXCEPTION_USER_EMAIL: ""
MAIL_ADDRESS: ""
MAIL_PORT: ""
MAIL_DOMAIN: ""
MAIL_USERNAME: ""
MAIL_PASSWORD: ""
DOMAIN: ""

development:
 FACEBOOK_KEY: ""
 FACEBOOK_SECRET: ""

 TWITTER_KEY: ""
 TWITTER_SECRET: ""

 GITHUB_KEY: ""
 GITHUB_SECRET: ""

 LINKEDIN_KEY: ""
 LINKEDIN_SECRET: ""

 GOOGLE_KEY: ""
 GOOGLE_SECRET: ""

production:
 FACEBOOK_KEY: ""
 FACEBOOK_SECRET: ""

 TWITTER_KEY: ""
 TWITTER_SECRET: ""

 GITHUB_KEY: ""
 GITHUB_SECRET: ""

 LINKEDIN_KEY: ""
 LINKEDIN_SECRET: ""

 GOOGLE_KEY: ""
 GOOGLE_SECRET: ""