<!-- Main body
================== -->
<div class="wrapper">
  <div class="section-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- Remove the .animated class if you don't want things to move -->
          <h1 class="animated slideInLeft"><span>About Us</span></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="hl text-center top-zero">Our Company</h1>
        <p class="lead text-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget consequat sapien. Phasellus ac augue velit. Cras malesuada lectus et purus consequat porttitor. Vivamus a ultrices ante. Praesent nec dui at tortor tempor ultrices eu nec diam. Nam in aliquam orci, at interdum enim. Donec volutpat turpis vitae placerat suscipit.
        </p>
        <br />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="about-icon"><i class="fa fa-briefcase"></i></div>
        <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
        <p class="about-p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget consequat sapien. Phasellus ac augue velit. Cras malesuada lectus et purus consequat porttitor.
        </p>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4">
        <div class="about-icon"><i class="fa fa-archive"></i></div>
        <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
        <p class="about-p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget consequat sapien. Phasellus ac augue velit. Cras malesuada lectus et purus consequat porttitor.
        </p>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4">
        <div class="about-icon"><i class="fa fa-tasks"></i></div>
        <h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
        <p class="about-p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget consequat sapien. Phasellus ac augue velit. Cras malesuada lectus et purus consequat porttitor.
        </p>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="about-btn">
          <a class="btn btn-default" href="<%= team_path %>">Our Team</a> <a class="btn btn-default" href="<%= contact_index_path %>">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>