<!-- Foooter
================== -->
<footer>
  <div class="container">
    <div class="row">
      <!-- Contact Us 
      =================  -->
      <div class="col-sm-4">
        <div class="headline"><h3>Contact me</h3></div>
        <div class="content">
          <p>
          <i class="fa fa-male"></i> Anshul Kumar<br />
          <i class="fa fa-home"></i> 818, Siddhi Tower,<br />
            Mahagun Puram, NH-24,<br>
            Ghaziabad, U.P - 201002<br>
          <i class="fa fa-phone"></i> (+91) 8287828998<br>
          <i class="fa fa-envelope"></i> <a href="mailto:anshul.c26@gmail.com">anshul.c26@gmail.com</a>
          </p>
        </div>
      </div>
      <!-- Social icons 
      ===================== -->
      <div class="col-sm-4">
        <div class="headline"><h3>Go Social</h3></div>
        <div class="content social">
          <p>Stay in touch with me:</p>
          <ul>
              <li><a href="https://twitter.com/anshulkumarc26" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.facebook.com/anshul.kumar.372" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://dribbble.com/anshulc26" target="_blank"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="https://github.com/anshulc26" target="_blank"><i class="fa fa-github"></i></a></li>
              <li><a href="http://www.linkedin.com/in/anshulc26" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="http://instagram.com/anshulc26" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://plus.google.com/u/0/+anshulkumarc26/about" target="_blank"><i class="fa fa-google-plus"></i></a></li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- Subscribe 
      =============== -->
      <div class="col-sm-4">
        <div class="headline"><h3>Subscribe</h3></div>
        <div class="content">
          <p>Enter your e-mail below to subscribe to my free newsletter.<br />I promise not to bother you often!</p>
          <form class="form" role="form">
            <div class="row">
              <div class="col-sm-8">
                <div class="input-group">
                  <label class="sr-only" for="subscribe-email">Email address</label>
                  <input type="email" class="form-control" id="subscribe-email" placeholder="Enter email">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">OK</button>
                  </span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Legal 
============= -->
<div class="legal">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>&copy; Blog <%= Time.now.year %>.</p>
      </div>
    </div>
  </div>
</div>